.grid{
    max-width: 1200px;
    margin: 2rem auto 0px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
    padding:0px 1.5vw ;
    overflow-y: hidden;
}
article{
    border-radius: 0.5rem;
    background-color: var(--grey-color);
}
article div{
    padding: 0.8rem 0.6rem 1rem 0.6rem;
}

article img{
    width: 100%;
    height: auto;
}
.buttons-container{
    text-align: right;
}
.button-color{
    background-color: var(--red-color);
    margin-right: 0.5rem;
}
.button-color:active{
    background-color: var(--red-color-2);
}