<div class="title-wrap">
    <h2>Actualizar Héroe</h2>
</div>
<div *ngIf="hero" class="grid-container">
    <form [formGroup]="form" (ngSubmit)="updateHero()">
        <div class="input-container">
            <input formControlName="superhero" type="text" placeholder="Superhéroe"
                [ngClass]="{'error':ifError('superhero')}" required>
            <div *ngIf="ifError('superhero')" class="input-error"><small>{{ errorMessage('superhero') }}</small></div>
        </div>
        <div class="input-container">
            <input formControlName="characters" type="text" placeholder="Personajes"
                [ngClass]="{'error':ifError('characters')}" required>
            <div *ngIf="ifError('characters')" class="input-error"><small>Campo requerido</small></div>
        </div>
        <div class="input-container">
            <input formControlName="alter_ego" type="text" placeholder="Alter ego"
                [ngClass]="{'error':ifError('alter_ego')}" required>
            <div *ngIf="ifError('alter_ego')" class="input-error"><small>Campo requerido</small></div>
        </div>
        <div class="input-container">
            <input formControlName="first_appearance" type="text" placeholder="Primera aparición"
                [ngClass]="{'error': ifError('first_appearance')}" required>
            <div *ngIf="ifError('first_appearance')" class="input-error"><small>Campo requerido</small></div>
        </div>
        <div class="input-container">
            <select formControlName="publisher" [ngClass]="{'error':ifError('publisher')}" required>
                <option *ngFor="let publisher of publishers" [value]="publisher.id">
                    {{publisher.desc}}
                </option>
            </select>
            <div *ngIf="ifError('publisher')" class="input-error"><small>Campo requerido</small></div>
        </div>
        <div class="input-container">
            <input formControlName="alt_img" type="url" placeholder="Url imagen"
                [ngClass]="{'error':ifError('alt_img')}" required>
            <div *ngIf="ifError('alt_img')" class="input-error"><small>Campo requerido</small></div>
        </div>
        <div class="button-container">
            <button type="submit">Editar</button>
            <button (click)="deletehero(id!)" type="button">Borrar</button>
        </div>
    </form>
    <div>
    <img [src]=" hero | image" alt="Hero Image">
    </div>
</div>